.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}
.titulo{
    color: var(--gray);
    font-size: var(--md);
    background-color: var(--white);
    width: 500px;
}
.nombre{
    color: var(--blue);
    font-size: var(--lg);
}